{% extends "base.html" %}
<!-- 引入基本模板 -->
{% import 'bootstrap/wtf.html' as wtf %}

<!-- app_content模板标签 -->
{% block app_content %}
<nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2 col-xs-2">
                        <a c href="{{ url_for('lockerview') }}">
                                <img class="" style="max-height: 70px;" src="{{ url_for('static', filename='images/back.svg') }}" />
                            </a>
                </div>
                <div class="col-sm-8 col-xs-8 text-center">
                    <h4>Delete_Locker</h4>
                </div>
                <!-- <div class="col-sm-2 col-xs-2">
                    <a href="{{ url_for('createlocker') }}">
                        <img class="" style="max-height: 70px;" alt="Brand" src="{{ url_for('static', filename='images/plus.svg') }}" />
                    </a>
                </div> -->
            </div>
        </div>
    </nav>

    <div class="row">
            
            <div class="center-block" style="max-width:240px">
                    
                {{ wtf.quick_form(form) }}
            </div>
        </div>

{% endblock %}